# Excel files
*.xlsx
*.xls
*.xlsm
*.csv

# Text files
*.txt

# images
*.png
*.jpg
*.jpeg
*.gif
*.pkl
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls



venv/
__pycache__/
*.pyc

input/

results/

GestureData/
assignment/


